@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.theme-white {
  --color-primary: #fff;
  --color-onPrimary: #363636;
  --color-secondary: #d2d2d2;
}

.theme-rice {
  --color-primary: #ede6d3;
  --color-onPrimary: #2c2c2c;
  --color-secondary: #ff7906;
}

.theme-blue {
  --color-primary: #0779ff;
  --color-onPrimary: #b7f9ff;
  --color-secondary: #002180;
}

.theme-green {
  --color-primary: #37af5d;
  --color-onPrimary: #c6ff00;
  --color-secondary: #005319;
}

.theme-purple {
  --color-primary: #3c0350;
  --color-onPrimary: #fce9ff;
  --color-secondary: #db30f5;
}